.c-button {
  background: var(--primaryColor);
  color: #fff;
  cursor: pointer;
  outline: none;
  display: inline-block;
  font-size: 14px;
  border: 1px solid transparent;
  text-align: center;
  padding: 12px 14px;
  border-radius: var(--borderRadius--md);
  transition: var(--transition);

  @media (min-width: 1024px) {
    font-size: 18px;
  }
}

.c-button:hover,
.c-button:active,
.c-button:focus {
  background: oklch(from var(--primaryColor) calc(l + 0.1) c h / alpha);
  transition: var(--transition);
}

.c-button:disabled {
  background: oklch(from var(--primaryColor) calc(l - 0.4) c h / alpha);
  opacity: 0.7;
  cursor: not-allowed;
  transition: var(--transition);
}

.c-button--secondary {
  background: var(--secondaryColor);
  color: var(--fontColor);
}

.c-button--secondary:hover,
.c-button--secondary:active,
.c-button--secondary:focus {
  background: oklch(from var(--secondaryColor) calc(l + 0.1) c h / alpha);
}

.c-button--block {
  display: block;
  width: 100%;
}

.c-button--blockDesktop {
  display: block;
  width: 100%;

  @media (min-width: 1024px) {
    width: auto;
    margin: 0 auto;
  }
}
