.c-input {
  box-shadow: none;
  outline: none;
  background: none;

  &[type="number"]::-webkit-inner-spin-button,
  & input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type="number"] {
    -moz-appearance: textfield;
  }
}

username-input {
  display: block;
  width: 100%;
}
