.c-input {
  box-shadow: none;
  outline: none;
  width: 100%;
  background: none;

  &[type="number"]::-webkit-inner-spin-button,
  & input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type="number"] {
    -moz-appearance: textfield;
  }
}

/*Custom lit component*/
username-input {
  display: block;
  width: 100%;
}

/*Custom lit component*/
o-input {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  border: 1px solid transparent;
  align-items: center;
  position: relative;
  padding: 0px 10px;
  gap: 5px 10px;
  font-size: 16px;
  border-radius: var(--borderRadius--md);

  &:before {
    content: "";
    position: absolute;
    border-radius: var(--borderRadius--md);
    background: #fff;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
  }

  & span[slot="pre"] {
    order: 1;
  }

  & span[slot="post"] {
    order: 3;
  }

  & .c-formElement {
    order: 2;
  }

  &[errormessage]:not([errormessage=""]) {
    &:before {
      border: 1px solid var(--errorColor);
    }

    .c-message {
      color: var(--errorColor);
      grid-column: 1 / 4;
      order: 4;
    }
  }

  & .c-select {
    height: 40px;
    padding: 0;
  }

  & .c-select__display {
    padding: 0;

    img {
      width: auto;
    }
  }

  & .c-select__listWrapper {
    right: auto;
    top: 45px;
    left: -10px;
    height: auto;
  }
}
