.t-link {
  color: #ffffffb3;
  transition: var(--transition);

  &:hover {
    color: #fff;
    transition: var(--transition);
  }
}

.t-text-white {
  color: #ffffffb3;
}

.h-mb-md {
  margin-bottom: var(--space-md);
}
